<tr class="bg-white money-table-row" data-money-id="<%= money.id %>" data-money-abbreviation="<%= money.abbreviation %>">
  <th class="money_name" ><%= money.name %></td>
  <td><%= money.abbreviation.upcase %></td>
  <td class="middle-rate" id="<%= money.abbreviation %>">取得中</td>
  <td class="buy-order-value" id="<%= money.abbreviation %>">取得中</td>
  <td class="sell-order-value" id="<%= money.abbreviation %>">取得中</td>
  <% if signed_in? && current_user.admin? %>
    <td><%= link_to 'Show', money, data: {"turbolinks" => false} %></td>
    <td><%= link_to 'Edit', edit_money_path(money) %></td>
    <td><%= link_to 'Destroy', money, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>