<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div id="card-wrapper" class="col-12 px-3">
      <h3 class="text-center font-weight-bold">チャート詳細</h3>
      <div class="card mb-2">
        <div class="card-body p-2">
          <div class="row">
            <h4 class="card-title col-6"><%= @money.abbreviation.upcase %>(<%= @money.name%>)</h4>
            <div class="rate-box row col-6">
              <h2 class="middle-rate ml-auto mr-0" id="<%= @money.abbreviation %>"></h2>
              <h4 class="jpy mr-0">円</h4>
            </div>
          </div>
          <h5 class="card-text text-right compare-previous-day" id="<%= @money.abbreviation %>">前日比（取得中）</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div>
    <table class="table table-sm col-12 table-bordered money-table" data-money-id="<%= @money.id %>" data-money-abbreviation="<%= @money.abbreviation %>">
      <thead class="bg-warning">
        <tr>
          <th>買値</th>
          <th>売値</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white">
          <td class="buy-order-value" id="<%= @money.abbreviation %>">取得中</td>
          <td class="sell-order-value" id="<%= @money.abbreviation %>">取得中</td>
        </tr>
      </tbody>
    </table>
  </div>
<div>

<div class="container">
  <div class="row">
    <div id="card-wrapper" class="col-12">
      <h5 class="text-right">＜期間：日足＞</h5>
      <div class="card response-output" data-money-abbreviation="<%= @money.abbreviation %>">
        <div class="card-body svg-box candlestick-day <%= @money.abbreviation%>">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="card-wrapper" class="col-12">
      <h5 class="text-right">＜期間：5分足＞</h5>
      <div class="card response-output" data-money-abbreviation="<%= @money.abbreviation %>">
        <div class="card-body svg-box candlestick-5min <%= @money.abbreviation%>">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="card-wrapper" class="col-12">
      <h5 class="text-right">＜期間：1分足＞</h5>
      <div class="card response-output" data-money-abbreviation="<%= @money.abbreviation %>">
        <div class="card-body svg-box candlestick-1min <%= @money.abbreviation%>">
        </div>
      </div>
    </div>
  </div>
</div>

<% if signed_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_money_path(@money) if current_user && current_user.admin? %> |
  <%= link_to 'Back', money_index_path %>
<% end %>
