%p#notice= notice
.container
  .row.mb-5
    .offset-6.col-3
      = button_to "買い注文", new_money_buy_order_path(@money), method: :get, class: "btn btn-danger col-12"
    .col-3
      = button_to "売り注文", new_money_sell_order_path(@money), method: :get, class: "btn btn-primary col-12"
%h3.text-center.font-weight-bold チャート詳細
= render "shared/rate", money: @money
.container
  %div
    %table.table.table-sm.col-12.table-bordered.money-table{"data-money-abbreviation" => "#{@money.abbreviation}", "data-money-id" => "#{@money.id}"}
      %thead.bg-warning
        %tr
          %th 買値
          %th 売値
      %tbody
        %tr.bg-white
          %td
            %span.buy-order-value{:id => "#{@money.abbreviation}"} 取得中
            %span 円
          %td
            %span.sell-order-value{:id => "#{@money.abbreviation}"} 取得中
            %span 円
.container
  %div
    .clearfix
    #candlestick-day-container.container
      .row
        #card-wrapper.col-12
          %h5.text-right ＜単位：日足＞
          .card.response-output{"data-money-abbreviation" => "#{@money.abbreviation}"}
            %div{:class => "card-body svg-box candlestick-day #{@money.abbreviation}"}
    #candlestick-5min-container.container
      .row
        #card-wrapper.col-12
          %h5.text-right ＜単位：5分足＞
          .card.response-output{"data-money-abbreviation" => "#{@money.abbreviation}"}
            %div{:class => "card-body svg-box candlestick-5min #{@money.abbreviation}"}
    #candlestick-1min-container.container
      .row
        #card-wrapper.col-12
          %h5.text-right ＜単位：1分足＞
          .card.response-output{"data-money-abbreviation" => "#{@money.abbreviation}"}
            %div{:class => "card-body svg-box candlestick-1min #{@money.abbreviation}"}
    - if current_user.try(:admin?)
      = link_to 'Edit', edit_money_path(@money) if current_user.try!(:admin?)
      |
      \#{link_to 'Back', money_index_path}
