- if notice.present?
  %p#notice.alert.alert-success
    = notice
%h3.text-center.font-weight-bold.mt-5 チャート詳細
= render "shared/rate", money: @money
.container
  .row
    %table.table.table-sm.col-12.table-bordered.money-table{"data-money-abbreviation": "#{@money.abbreviation}"}
      %thead.bg-warning
        %tr
          %th 買値
          %th 売値
      %tbody
        %tr.bg-white
          %td
            %span.buy-order-value{ class: "#{@money.abbreviation}"} 取得中
            %span 円
          %td
            %span.sell-order-value{ class: "#{@money.abbreviation}"} 取得中
            %span 円
.container
  .row
    = button_tag( "日足", type: "button", class: "btn btn-primary mr-1 active col-2", id: "candlestick-day-button")
    = button_tag( "5分足", type: "button", class: "btn btn-secondary mx-1 col-2", id: "candlestick-5min-button")
    = button_tag( "1分足", type: "button", class: "btn btn-secondary mx-1 col-2", id: "candlestick-1min-button")
.candlestick-containers
  #candlestick-day-container.container
    .row
      #card-wrapper.col-12.px-0
        %h5.text-right ＜単位：日足＞
        .card.response-output{"data-money-abbreviation": "#{@money.abbreviation}"}
          %div{ class: "card-body svg-box candlestick-day #{@money.abbreviation}"}
  #candlestick-5min-container.container.invisible.fixed-top
    .row
      #card-wrapper.col-12.px-0
        %h5.text-right ＜単位：5分足＞
        .card.response-output{"data-money-abbreviation": "#{@money.abbreviation}"}
          %div{ class: "card-body svg-box candlestick-5min #{@money.abbreviation}"}
  #candlestick-1min-container.container.invisible.fixed-top
    .row
      #card-wrapper.col-12.px-0
        %h5.text-right ＜単位：1分足＞
        .card.response-output{"data-money-abbreviation": "#{@money.abbreviation}"}
          %div{ class: "card-body svg-box candlestick-1min #{@money.abbreviation}"}
.container
  .row.mb-5.mt-4
    .col-6
      = button_to "買い注文", new_money_buy_order_path(@money), method: :get, class: "btn btn-danger col-12"
    .col-6
      = button_to "売り注文", new_money_sell_order_path(@money), method: :get, class: "btn btn-primary col-12"
  - if current_user.try(:admin?)
    = link_to 'Edit', edit_money_path(@money) if current_user.try!(:admin?)
    |
    \#{link_to 'Back', money_index_path}
