<p id="notice"><%= notice %></p>

<div class="container">
  <div class="response-output" data-money-abbreviation="<%= @money.abbreviation %>">
    <h5>現在の<%= @money.name %>の取引額</h5>
    <table border="1" class="table table-sm col-12">
      <thead class="thead-dark">
        <tr>
          <th>レート(仲値)</th>
          <th>買値</th>
          <th>売値</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="middle-rate" id="<%= @money.abbreviation %>">エラー</td>
          <td class="buy-order-value" id="<%= @money.abbreviation %>">エラー</td>
          <td class="sell-order-value" id="<%= @money.abbreviation %>">エラー</td>
        </tr>
      </tbody>
    </table>
  </div>
<div>

<div class="container">
  <div class="row">
    <div id="card-wrapper" class="col-12">
      <h5 class="text-right">＜期間：日足＞</h5>
      <div class="card response-output" data-money-abbreviation="<%= @money.abbreviation %>">
        <div class="card-body svg-box candlestick-day <%= @money.abbreviation%>">
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_money_path(@money) %> |
<%= link_to 'Back', money_index_path %>
