= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f|
  %h2.text-center.mb-3.mt-5 Please Sign In
  .field.form-label-group.mb-3.mt-5
    = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" , class: "form-control"
  .field.form-label-group.mb-3
    = f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control"
  - if devise_mapping.rememberable?
    .field.text-center
      = f.check_box :remember_me
      = f.label :remember_me
  .actions
    = f.submit "Sign in", class: "btn btn-lg btn-primary btn-block mt-3"
    = render "devise/shared/links"
