%p#notice= notice
%h3.text-center.font-weight-bold.text-primary.text- 売り注文
= render "shared/rate", money: @money
= render "shared/order_info_table", money: @money, crypto_asset: @crypto_asset
.container
  .row
    = form_with(model: [@money, @sell_order], local: true, class: "col-lg-8 offset-lg-2 col-xl-8 offset-xl-2") do |f|
      .sell-order-range.mb-3.text-secondary 
        = "売買単位(0.0001 #{@money.abbreviation.upcase} 〜 100,000 #{@money.abbreviation.upcase})"
      .row.form-group
        = f.label :number, "数量(#{@money.abbreviation.upcase})", class: "col-6 mb-0 d-flex align-items-center font-weight-bold"
        .col-6
          = f.number_field :number, min: "0.0001", max: "#{@crypto_asset.number}", class: [flash[:error].present? ? "form-control is-invalid" : "form-control"] , id: "input-sell-order-number", step: "0.0001"
      .row
        - if flash[:error].present?
          %ul.errors.offset-6
            - flash[:error].each do |e|
              %li.text-danger
                = e
      .row.mb-3
        .col-6.font-weight-bold 概算約定代金
        .h4.col-6.text-right
          %span#sell-order-price 0
          円
      .row.mb-5
        .col-6.font-weight-bold 見込み損益
        .h4.col-6.text-right
          %span#sell-order-profit 0
          円
      = f.submit "注文する", class: "btn btn-lg btn-primary btn-block mt-3"
